{% extends 'base.html.twig' %}

{% block body %}
    <h1> Add a new category</h1>

    {{ form_start(categoryForm) }}
        {{ form_widget(categoryForm) }}

        <button type="submit" class="btn btn-primary">Add</button>

    {{ form_end(categoryForm) }}
{% endblock %}
