{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        table, td {
            border: 1px solid black;
        }
    </style>{% endblock %}

{% block body %}

    <h3>Category table</h3>

    <table id="myTable">
            {% for categor in categories %}
                <tr>
                    <td><a class="navbar-brand" href="{{path('category_show',{ name: categor['name']})}}">
                            <i style="color: #444; font-size: 2rem;" class="pb-1 fad fa-cauldron"></i>
                            <p class="pl-2 d-inline font-weight-bold" style="color: #444;">{{ categor['name'] }}</p>
                        </a></td>
                </tr>
            {% endfor %}
    </table>

    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <img src="{{ qr_code_path('My QR Code') }}" />
            </div>
        </div>
    </div>

    <!---<button onclick="myFunction()">Try it</button>

    <script>
        function myFunction() {
            const x = document.getElementById("myTable");
            x.deleteRow(0);
        }
    </script>--->

{% endblock %}