{% extends 'base.html.twig' %}

{% block body %}
    <h1> Add a new Tag</h1>

    {{ form_start(tagForm) }}
    {{ form_widget(tagForm) }}

    <button type="submit" class="btn btn-primary">Add</button>

    {{ form_end(tagForm) }}
    *You can select multiple Products from the dropdown list above and the new tag will be added to them! =D
{% endblock %}
